body{
    margin: 0;
}
.navbar{
    width: 100%;
    height: auto;
    background-color: rgb(247, 247, 247);
    text-align: center;
    padding: 10px;
    display: flex;
}
.reddit_logo{
    width: 45px;
    height: auto;
    margin: auto;
    margin-right: 0;
}
.reddit-heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-left: 0;
}
.firstdiv{
    text-align: center;
    background-color: #EF4A23;
    width: 100%;
    height: auto;
    padding: 150px;
}
.desc{
    margin: auto;
    color: white;
}
.seconddiv{
    text-align: center;
}
.looky{
    text-align: center;
    margin: 50px auto;
}
.cardDeck{
    padding: 25px 10px;
    justify-content: center;
}
.card{
    padding: 0 !important;
}
.cat-card{
    margin: 15px 10px;
}
Link,a:link{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.posts{
    justify-content: center;

}
.postCard{
    margin: 25px auto;
    background-color: rgb(241, 241, 241);
    width: 50rem;
}
.profile{
    background-color: chartreuse;
    height: 5rem;
}
.caption{
    background-color: chocolate;
    height: 10rem;
    width: 30rem;
}
.media{
    background-color: red;
    height: 20rem;
}
footer{
    text-align: center;
    background-color: #EF4A23 ;
    padding: 25px;
    color: white;
}
p{
    margin: 0;  
}